@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow-x: hidden;
    background-color: antiquewhite;
}

.content-box {
    background-color: cornflowerblue;
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: white;
    border-radius: 10px;
    transform: translateX(200%);
    transition: transform .4s ease;
}
.content-box:nth-of-type(even){
    transform: translateX(-200%);
}

.content-box.show {
    transform: translateX(0);
}
.content-box h2 {
    font-size: 28px;
}
