@import url('https://fonts.googleapis.com/css2??family=Poppins&family=Roboto+Mono&display=swap');

html.dark-theme {
    --main-card-bg: #4c2885;
    --body-bg: #2a2a72;
    --text-color: white;
}

html.light-theme {
    --main-card-bg: #6874e8;
    --body-bg: #e8f0ff;
    --text-color: #392759;
}

* {
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--body-bg);
    font-family: 'Roboto Mono', sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: .2s ease-in-out;
}

.search-form {
    min-width: 40vw;
}

#search {
    width: 100%;
    background-color: var(--main-card-bg);
    border: none;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color: var(--text-color);
}

#search:focus {
    outline: none;
}

#search::placeholder {
    color: #a1a1a1;
}

.card-info {
    max-width: 50vw;
    max-height: 300px;
    background-color: var(--main-card-bg);
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.profile-img img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 2rem;
    border: 6px solid var(--body-bg);
}

.user-info {
    color: var(--text-color);
    margin: 2rem 1rem;
    font-family: inherit;
}

.user-info ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    padding: 10px 0;
    font-size: small;
}

.user-info ul li {
    margin-right: 2rem;
}

.repo {
    background-color: var(--body-bg);
    text-decoration: none;
    color: var(--text-color);
    font-size: x-small;
    padding: 5px;
    border-radius: 3px;
    margin: 0 5px 5px 0;
    display: inline-block;
}

.error {
    padding: 4rem;
    color: var(--text-color);
    font-size: medium;
    box-shadow: 2px 2px 20px rgba(255, 0, 0, 0.29);
    border-radius: 5px;
}

.error strong {
    text-decoration: underline;
}



/* Change Theme color button */

.theme-toggle-btn {
    position: fixed;
    top: 2rem;
    right: 5rem;
    width: 100px;
    height: 50px;
    background-color: var(--main-card-bg);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;

}


.star {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0;
    transform: scale(.8);
    overflow: hidden;
}

.star.sun {
    background-color: #f6ae2d;
    transition: transform .4s ease-in-out;
}

.star.moon {
    background-color:  var(--main-card-bg);
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(0);
    transition: transform .4s ease-in-out .1s;
    transform-origin: center left;
}

.dark-activated .star.sun {
    transform: scale(.8) translateX(100%);
}

.dark-activated .star.moon {
    transform: scale(.8) translateX(70%);
}

.stars {
    position: absolute;
    top: 10px;
    left: 30%;
    width: 100%;
    height: 100%;
    display: block;
    transform: translateY(100%) translateX(-200%);
    transition: all .4s ease-in-out;
    opacity: 0;
}

.dark-activated .stars {
    opacity: 1;
    transform: translateY(0);

}

.stars::before {
    content: '★';
    position: absolute;
    width: 10px;
    height: 10px;
    color: white;
    font-size: 10px;
}

.stars::after {
    content: '★';
    position: absolute;
    right: 70%;
    bottom: 50%;
    width: 10px;
    height: 10px;
    color: white;
    font-size: 5px;
}
