@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto';
    padding-bottom: 30px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
.nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s ease-in-out;
    padding: 20px 0;
   

    
}
.nav {
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    transition: all .5s ease-in-out;
}
.nav.active{
    background-color: white;
    color: #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    transition: all .5s ease-in-out;

}
.nav.active .container{
    padding: 10px 0;
}
.nav.active a{
    color: #333;
}
.nav a{
    color: white;
    text-decoration: none;
    transition: all .3s ease-in-out;

}

.nav a:hover,
.menu ul li:hover,
.nav-item.active{
    color: #c0392b;
    cursor: pointer;
    transition: all .3s ease-in-out;

}
.menu ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul li{
    margin: 0 10px;
}


.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    background-image: url('https://source.unsplash.com/random');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    position: relative;
    z-index: -2;
}

.hero::before {
    content: '';
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

}

.hero h1 {
    font-size: 2rem;
    margin: 20px 0  20px;
}
.hero p{
    font-size: 1rem;
    letter-spacing: 2px;
}

.content h2,
.content h3 {
    font-size: 150%;
    margin: 10px 0 15px;
}

.content p{
    color: #555;
    letter-spacing: 1.2px;
    line-height: 30px;

}

.menu-toggle{
    background-color: transparent;
    width: 40px;
    height: 30px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 0;
    display: none;
    cursor: pointer;
}

.toggle-btn{
    height: .25rem;
    width: 70%;
    border-radius: 5px;
    background-color: white;
    transition: all .3s ease-in-out;
}
nav.active .toggle-btn{
    background-color: #333;
}
.menu-toggle.close .top{
    transform: translate(20%,100%) rotate(-135deg);
    transition: all .3s ease-in-out;
}
.menu-toggle.close .bottom{
    transform: translate(20%,-240%) rotate(-230deg);
    transition: all .3s ease-in-out;
}
.menu-toggle.close .center{
    opacity: 0;
    transform: translateX(300%);
    display: none;
    transition: all .4s ease;
}
.menu-toggle .center{
    opacity: 1;
    transform: translateX(0%);
    display: block;
}
.nav.active .menu.mobile{
    top: 3rem;
}
.menu.mobile{
    position: absolute;
    top: 4rem;
    width: 100%;
    left: 0;
    color: black;
    background-color: white;
    transition: all .5s ease-in-out;
}
.menu.mobile li{
    margin: 30px 20px;
}
.menu.mobile ul{
    display: block;
}
@media (max-width: 900px) {
    .container{
        padding: 0 50px;
    }

    .nav .container,
    .nav.active .container{
        padding-left: 2rem; 
    }
    
}

@media (max-width: 560px) {
    .nav ul{
        display: none;
    }
    .menu-toggle{
        display: inline-flex;
    }
    .hero h1{
        font-size: 3rem;
    }
}

