@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    background-color: #0093E9;
    font-family: 'Lato';
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
